<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div id="header_navbar" class="container">
		<a href=<%=root_path%>><%= image_tag("logo2.png", :alt => "", :id => "", a: "#") %></a>

		<% if candidate_signed_in? %>
		<div  class="connexion_button btn btn-info btn-lg navbar-btn navbar-right dropdown">
			<a id="inscription_button" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
				<%= "Bonjour #{current_candidate.email}" %><span class="caret"></span>
			</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="" data-target=""><%= link_to('Profil', "/profil") %></li>
				<li role="presentation" class="divider"></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="" data-target="">Annonces Favorites</a></li>
				<li role="presentation" class="divider"></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="" data-target="">Candidatures</a></li>
				<li role="presentation" class="divider"></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="" data-target=""><%= link_to("Déconnexion", destroy_candidate_session_path, method: :delete) %></a></li>
			</ul>
		</div>
		<% elsif company_signed_in? %>
		<div  class="connexion_button btn btn-info btn-lg navbar-btn navbar-right dropdown">
			<a id="inscription_button" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
				<%= "Bonjour #{current_company.email}" %><span class="caret"></span>
			</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="" data-target=""><%= link_to('Profil', "/profil") %></li>
				<li role="presentation" class="divider"></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="" data-target=""><%= link_to("Déconnexion", destroy_company_session_path, method: :delete) %></a></li>
			</ul>
		</div>
		<% else %>
		<div  class="connexion_button btn btn-info btn-lg navbar-btn navbar-right dropdown">
			<%= link_to "Inscription gratuite !", new_candidate_registration_path, id: "inscription_button" %>
		</div>
		<div  class="connexion_button btn btn-default btn-lg navbar-btn navbar-right dropdown">
			<a id="se_connecter_button" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
				Se connecter<span class="caret"></span>
			</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#modal_connexion_company">Entreprise</a></li>
				<li role="presentation" class="divider"></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#modal_connexion_candidat">Candidat</a></li>
			</ul>
		</div>
		<% end %>
		<ul id="header_ul" class="list-inline navbar-text navbar-right">
			<li><a href=<%=root_path%>><%= image_tag("home-icon2.png", :alt => "home", :id => "home_image") %></a></li>
			<li><a class="header_link active" href="#">Blog</a></li>
			<li><a class="header_link" href="#">Newsletter</a></li>
		</div>
	</nav>

	<!-- Modal entreprise-->
	<div class="modal fade" id="modal_connexion_company" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div id="first_modal_header" class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Connexion entreprise:</h4>
				</div>

				<div class="modal-body">
					<div class="form_block">
						<%= form_for(:company, :url => session_path(:company)) do |f| %>
						<div><%= f.label :email %><br />
							<%= f.email_field :email, :autofocus => true %>
						</div>
						<div><%= f.label :password %><br />
							<%= f.password_field :password %>
						</div>
						<% if devise_mapping.rememberable? -%>
						<div><%= f.check_box :remember_me %> <%= f.label :remember_me %>
						</div>
						<% end -%>
						<div><%= f.submit "Sign in" %></div>
						<% end %>
						<%= render "companies/shared/links" %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal candidat-->
	<div class="modal fade" id="modal_connexion_candidat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div id="first_modal_header" class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Connexion candidat:</h4>
				</div>

				<div class="modal-body">
					<div class="form_block">
						<%= form_for(:candidate, :url => session_path(:candidate)) do |f| %>
						<div><%= f.label :email %><br />
							<%= f.email_field :email, :autofocus => true %>
						</div>
						<div><%= f.label :password %><br />
							<%= f.password_field :password %>
						</div>
						<% if devise_mapping.rememberable? -%>
						<div><%= f.check_box :remember_me %> <%= f.label :remember_me %>
						</div>
						<% end -%>
						<div><%= f.submit "Sign in" %></div>
						<% end %>
						<%= render "candidates/shared/links" %>
					</div>
				</div>
			</div>
		</div>
	</div>
