<div class="nav_bar"  style="background-color:white; height:-18px">



	<!-- ==== LOGO  === -->

	
	<a href=<%=root_path%>><%= image_tag("logo2.png", :alt => "", :id => "logo", a: "#") %></a>

	<!-- ===  navbar If candidate signin === -->


	<% if candidate_signed_in? %>


	<div id="menu" style="float:right">
		<ul>	
			
			<li><a href="#"><%= "Bonjour #{current_candidate.email}" %></a>
				<ul>
					<li><a > <%= link_to('Profil', "/profil") %></a></li>
					<li><a >Annonces Favorites  </a></li>
					<li><a > Candidatures</a></li>
					<li><a >Annonces Favorites  </a></li>
					<li><a ><%= link_to("Déconnexion", destroy_candidate_session_path, method: :delete) %>  </a></li>


				</ul>
			</li>
			
		</ul>
	</div>   
	<!-- ===  navbar if campany signin === -->

	<% elsif company_signed_in? %>

	<div id="menu" style="float:right">
		<ul>	
			
			<li><a href="#"><%= "Bonjour #{current_company.email}" %></a>
				<ul>
					<li><a > <%= link_to('Profil', "/profil") %></a></li>
					<li><a ><%= link_to('Mes annonces', "") %></a></li>
					<li><a ><%= link_to("Déconnexion", destroy_company_session_path, method: :delete) %> </a></li>


				</ul>
			</li>
			
		</ul>
	</div>
	

	<!-- ===  navbar page home === -->

	<% else %>
	<div style="float:right" >
		<div id="menu">
			<ul>
				<li><a href=<%=root_path%> style="margin-right: -13px;"><i class="fa fa-home" id="picto"></i> Home</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-log-in"  id="picto"></span> Connexion</a>
					<ul>
						<li><a href="#myModal_candidat"  data-toggle="modal">Candidat</a></li>
						<li><a href="#myModal_entreprise"  data-toggle="modal">Entreprise</a></li>		
					</ul>
				</li>
				<li><a href="#"><i class="fa fa-pencil" id="picto" ></i> Inscription</a>
					<ul>
						<li><a > <%= link_to('Candidat', new_candidate_registration_path) %></a></li>
						<li><a ><%= link_to('Entreprise', new_company_registration_path) %>  </a></li>

					</ul>
				</li>
				
			</ul>
		</div>    
		<!-- Modal HTML -->
		<div id="myModal_candidat" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content" style="margin-top:300px">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title"> <center><i class="fa fa-user "></i> Connexion candidat</center></h4>
					</div>
					
					<div class="modal-body">					
				      <section class="popupBody">
			              
			              <div class="social_login">
				               <div class="">
					               <a href=<%= candidate_omniauth_authorize_path(:linkedin) %> class="social_box fb">
						               <span class="icon"><i class="fa fa-linkedin-square fa-2x" style="color:#007BAD"></i></span>
						               <span class="icon_title">Connect with Linkedin</span>	
					              </a>     	
				               </div>			
			             </div>
		              
                         <form class="form-horizontal">
                            <%= form_for(:candidate,class:"form-horizontal" ,:url => session_path(:candidate)) do |f| %>
                              <div class="form-group">
                                   <%= f.label :email , class:"control-label col-xs-2" %>
                                  <div class="col-xs-10">
                                   <%= f.email_field :email, :autofocus => true, class:"form-control inputEmail"%>
                                  </div>
                            </div>
                            <div class="form-group">
                    	         <%= f.label :password , class:".control-label col-xs-2" %>
                    	         <div class="col-xs-10">
                                 <%= f.password_field :password,class:"form-control inputEmail" %>
                                 </div>
                           </div>
                           <div class="form-group">
                    	        <div class="col-xs-offset-2 col-xs-10">
                               <% if devise_mapping.rememberable? -%>
                                   <%= f.check_box :remember_me %> <%= f.label :remember_me %>
                               <% end -%>
                              </div>
                              	<div class="col-xs-offset-2 col-xs-10">
                                    <div class="action_btns">
                                        <div class="one_half">
                                             <%= f.submit "Login", class:"btn .btn_red", style:"height: 26px;padding-top: 2px;" %>
                                        </div>
                                    </div>   
                                </div>
                           </div>
            
                        <% end %>
                    </form>
		           </section>
			    </div>
			</div>
		</div>
	</div>






<div id="myModal_entreprise" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content" style="margin-top:300px">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title"><center><i class="fa fa-building-o"> Connexion entreprise</i></center></h4>
					</div>
					

					<div class="modal-body">					
				      <section class="popupBody">
	
                         <form class="form-horizontal">
                          <%= form_for(:company, :url => session_path(:company)) do |f| %>
                              <div class="form-group">
                                   <%= f.label :email , class:".control-label col-xs-2 " %>
                                  <div class="col-xs-10">
                                   <%= f.email_field :email, :autofocus => true, class:"form-control inputEmail"%>
                                  </div>
                            </div>
                            <div class="form-group">
                    	         <%= f.label :password , class:".control-label col-xs-2" %>
                    	         <div class="col-xs-10">
                                 <%= f.password_field :password,class:"form-control inputEmail" %>
                                 </div>
                           </div>
                           <div class="form-group">
                    	        <div class="col-xs-offset-2 col-xs-10">
                               <% if devise_mapping.rememberable? -%>
                                   <%= f.check_box :remember_me %> <%= f.label :remember_me %>
                               <% end -%>
                              </div>
                              	<div class="col-xs-offset-2 col-xs-10">
                                    <div class="action_btns">
                                        <div class="one_half">
                                             <%= f.submit "Login", class:"btn .btn_red", style:"height: 26px;padding-top: 2px;" %>
                                        </div>
                                    </div>   
                                </div>
                           </div>
            
                        <% end %>
                    </form>
		           </section>
			    </div>

				


				</div>
			</div>
		</div>

		<% end %>



		
	</div>
</div>
<!-- ===  end navbar page home === -->                      



