
<div class="header" style=" height:80px;background-color:rgba(0,0,0,0.2)">
  

  <a href=<%=root_path%>><%= image_tag("logo2.png", :alt => "", :id => "", a: "#", :style => "margin-top: 1%;margin-left: 3%;
") %></a>
   
 
 
                              

                                    <!-- =========== Sign in candidate ====================-->
                                
  
  <% if candidate_signed_in? %>
    <div  class="connexion_button btn btn-info btn-lg navbar-btn navbar-right dropdown">
      <a id="inscription_button" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
        <%= "Bonjour #{current_candidate.email}" %><span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="" data-target=""><%= link_to('Profil', "/profil") %></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="" data-target="">Annonces Favorites</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="" data-target="">Candidatures</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="" data-target=""><%= link_to("Déconnexion", destroy_candidate_session_path, method: :delete) %></a></li>
      </ul>
    </div>
                                       
                                              <!-- =========== Sign in company ====================-->
                                <!--============================================================================== -->



    <% elsif company_signed_in? %>

    <div  class="connexion_button btn btn-info btn-lg navbar-btn navbar-right dropdown">
      <a id="inscription_button" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
        <%= "Bonjour #{current_company.email}" %><span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="" data-target=""><%= link_to('Profil', "/profil") %></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="" data-target=""><%= link_to('Mes annonces', "") %></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="" data-target=""><%= link_to("Déconnexion", destroy_company_session_path, method: :delete) %></a></li>
      </ul>
    </div>
    

                                             <!-- =========== Home page====================-->
                                <!--============================================================================== -->
    <% else %>


<!-- <div class="navigation " style="position: absolute;margin-top: -79px; margin-left: 1063px; ">
    <div  class="connexion_button  navbar-right dropdown"  >  
      <a id="inscription_button" data-toggle="dropdown" data-target="#" href="/page.html" >

        Creer un compte
        
        <span class="caret"></span></a>
      
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="min-width: 123px;">
        <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="" data-target=""><%= link_to('Candidat', new_candidate_registration_path) %></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="" data-target=""><%= link_to('Entreprise', new_company_registration_path) %></li>
    </div>


    <div  class="connexion_button  navbar-right dropdown" style="position: absolute;margin-left: -132px;">
      <a id="se_connecter_button" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
        
       Se connecter

        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="min-width: 123px;margin-right: 38px">
        <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#modal_connexion_company">Entreprise</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#modal_connexion_candidat">Candidat</a></li>
      </ul>
    </div>
    
  </div>

     -->

<div >
    <div id="menu" style="float:right" >
      <ul>
        <li><a href=<%=root_path%> style="margin-right: -13px;"><i class="fa fa-home" id="picto"></i> Home</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"  id="picto"></span> Connexion</a>
          <ul>
            <li><a href="#modal_connexion_candidat"  data-toggle="modal">Candidat</a></li>
            <li><a href="#modal_connexion_company"  data-toggle="modal">Entreprise</a></li>    
          </ul>
        </li>
        <li><a href="#"><i class="fa fa-pencil" id="picto" ></i> Inscription</a>
          <ul>
            <li><a > <%= link_to('Candidat', new_candidate_registration_path) %></a></li>
            <li><a ><%= link_to('Entreprise', new_company_registration_path) %>  </a></li>

          </ul>
        </li>
        
      </ul>
    </div> 
    </div> 
   


  <!-- Modal entreprise-->
  <div class="modal fade" id="modal_connexion_company" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div id="first_modal_header" class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel"><center><i class="fa fa-building-o"> Connexion entreprise</i></center></h4>
        </div>

        <div class="modal-body">
          <div class="form_block">
            <%= form_for(:company, :url => session_path(:company)) do |f| %>
            <div><%= f.label :email %><br />
              <%= f.email_field :email, :autofocus => true , class:"form-control inputEmail"%>
            </div>
            <div><%= f.label :password %><br />
              <%= f.password_field :password , class:"form-control inputEmail"%>
            </div>
            <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %>
            </div>
            <% end -%>
            <div><%= f.submit "Sign in", class:"btn .btn_red", style:"height: 26px;padding-top: 2px;" %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal candidat-->
  <div class="modal fade" id="modal_connexion_candidat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div id="first_modal_header" class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel"><center><i class="fa fa-user "></i> Connexion candidat</center></h4>
        </div>

        <div class="modal-body">
          <div class="form_block">

          	     <div class="social_login">
                       <div class="">
                         <a href=<%= candidate_omniauth_authorize_path(:linkedin) %> class="social_box fb">
                           <span class="icon"><i class="fa fa-linkedin-square fa-2x" style="color:#007BAD"></i></span>
                           <span class="icon_title">Connect with Linkedin</span>  
                        </a>      
                       </div>     
                   </div>
            
            <%= form_for(:candidate, :url => session_path(:candidate)) do |f| %>
            <div><%= f.label :email %><br />
              <%= f.email_field :email, :autofocus => true, class:"form-control inputEmail" %>
            </div>
            <div><%= f.label :password %><br />
              <%= f.password_field :password, class:"form-control inputEmail" %>
            </div>
            <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %>
            </div>
            <% end -%>
            <div><%= f.submit "Sign in", class:"btn .btn_red", style:"height: 26px;padding-top: 2px;" %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end -%>

</div>

